<h1>Listing emps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emps.each do |emp| %>
  <tr>
    <td><%= emp.name %></td>
    <td><%= emp.extension %></td>
    <td><%= link_to 'Show', emp %></td>
    <td><%= link_to 'Edit', edit_emp_path(emp) %></td>
    <td><%= link_to 'Destroy', emp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Emp', new_emp_path %>
