<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @emp.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @emp.extension %>
</p>


<%= link_to 'Edit', edit_emp_path(@emp) %> |
<%= link_to 'Back', emps_path %>
